body, html {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.content {
    flex: 1;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: #ccc !important;
}